<% if signed_in? %>
	<div class="row">
		<div id="dashboard_recents" class="span4 dashboard_box">
			<h3>Recent activity</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>
		<div id="dashboard_friends" class="span4 dashboard_box">
				<h3>Friend activity</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>
		<div id="dasbhard_featured" class="span4 dashboard_box">
			<h3>Featured activity</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>				
	</div>  
	<div class="row">
		<div id="dashboard_tags" class="span4 dashboard_box">
			<h3>Tags cloud</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>
		<div id="dashboard_tasks" class="span4 dashboard_box">
			<h3>My tasks</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>
		<div id="dasbhard_notifications" class="span4 dashboard_box">
			<h3>Notifications</h3>
			<div class="dashboard_content"><%= render 'shared/feed' %></div>
		</div>				
	</div> 
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome to the CoBlogger</h1>

	  <h2>
	    This is the welcome page for the CoBlogger, a collaborative learning environment
	  </h2>

	  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>