<% if signed_in? %>
	<div class="row">
		<div class="span9">
			<ul class="nav nav-tabs">
				<li class="active" id="recents">
					<a href="#">Recent<span> (<%= @recents.total_entries %>)</span></a>
				</li>
				<li id="friends">
					<a href="#">Friends<span> (<%= @friends.total_entries %>)</span></a>
				</li>
				<li id="featured">
					<a href="#">Featured<span> (<%= @featured.total_entries %>)</span></a>
				</li>
				<li id="notifications">
					<a href="#">My activity<span> (<%= @notifications.total_entries %>)</span></a>
				</li>
				<li id="bookmarks">
					<a href="#">My bookmarks<span> (<%= @bookmarks.total_entries %>)</span></a>
				</li>				
			</ul>
			<div class="dashboard_box">
				<h3>Recent activity</h3>
				<div class="dashboard_content" id="dashboard_recents">
					<%= render 'shared/feed', :feed_items => @recents %>
				</div>
			</div>
			<div class="dashboard_box">
				<h3>Friend activity</h3>
				<div class="dashboard_content" id="dashboard_friends">
					<%= render 'shared/feed', :feed_items => @friends %>
				</div>
			</div>
			<div class="dashboard_box">
				<h3>Featured activity</h3>
				<div class="dashboard_content" id="dashboard_featured">
					<%= render 'shared/feed', :feed_items => @featured %>
				</div>
			</div>				
			<div class="dashboard_box">
				<h3>Notifications</h3>
				<div class="dashboard_content" id="dashboard_notifications">
					<%= render 'shared/feed', :feed_items => @notifications %>
				</div>
			</div>
			<div class="dashboard_box">
				<h3>Bookmarks</h3>
				<div class="dashboard_content" id="dashboard_bookmarks">
					<%= render 'shared/feed', :feed_items => @bookmarks %>
				</div>
			</div>				
		</div>
		<div class="span3">
			<%= render partial: 'shared/tags', locals: {title: "My tags", tags: @user_tags} %>
			<hr />
			<%= render partial: 'shared/tags', 
				locals: {title: "User tags", tags: @all_tags, print_group_tags: false} %>
			<hr />
			<%= render partial: 'shared/tags', locals: {title: "Group tags", tags: @group_tags} %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome to Classy</h1>

	  <h2>
	  	Collaborative blogging environment for students. Connect with your class.
	  </h2>

	  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>