<% if signed_in? %>
	<ul class="nav nav-tabs">
		<li class="active" id="recents"><a href="#">Recent<span> (51)</span></a></li>
		<li id="friends"><a href="#">Friends<span> (4)</span></a></li>
		<li id="featured"><a href="#">Featured<span> (2)</span></a></li>
		<li id="tags"><a href="#">Tasks<span> (0)</span></a></li>
		<li id="notifications"><a href="#">Notifications<span> (11)</span></a></li>
	</ul>
	<div id="dashboard_recents" class="dashboard_box">
		<h3>Recent activity</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>
	<div id="dashboard_friends" class="dashboard_box">
			<h3>Friend activity</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>
	<div id="dashboard_featured" class="dashboard_box">
		<h3>Featured activity</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>				
	<div id="dashboard_tags" class="dashboard_box">
		<h3>Tags cloud</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>
	<div id="dashboard_tasks" class="dashboard_box">
		<h3>My tasks</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>
	<div id="dashboard_notifications" class="dashboard_box">
		<h3>Notifications</h3>
		<div class="dashboard_content"><%= render 'shared/feed' %></div>
	</div>				
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome to the CoBlogger</h1>

	  <h2>
	    This is the welcome page for the CoBlogger, a collaborative learning environment
	  </h2>

	  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>