<li>
	<span class="user_image_comment">
		<%= link_to gravatar_for(comment.user, size=40), comment.user,
              alt: comment.user.name,
              title: comment.user.name %>
	</span>
	<span class="content">
		by <strong><%= comment.user.name %></strong>
		<br/>
		<%= comment.content %>
	</span>
	<span class="timestamp">
		Commented <%= time_ago_in_words(comment.created_at) %> ago.
	</span>
	<% if current_user.id == comment.user.id %>
		<%= link_to raw("<i class='icon-trash'></i>"), comment, method:  :delete,
		                                 confirm: "You sure?",
		                                 title:   comment.content %>                              
	<% end %>
</li>