<% if @group_members.count > 0 %>
	<h3>Group Members (<%= @group_members.count %>)</h3>
	<table class="table table-striped">
		<tr><th>User</th><th>Joined</th><th>Role</th><th>Actions</th></tr>
		<% for membership in @group_members %>
			<tr>
				<td>
					<% user = User.find(membership.user_id) %>
					<%= gravatar_for(user, size=32) + ' - ' + link_to(user.email, user) %>
				</td>
				<td><%= time_ago_in_words(membership.created_at) %> ago</td>
				<td><%= membership.role %></td> <!-- make this into a button dropdown to change role -->
				<td>
					<%= button_to "Kick", group_member_path(@group), method: :delete,
						class: "btn btn-mini btn-danger" %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>