<% if @group_members.count > 0 %>
	<h3>Group Members (<%= @group_members.count %>)</h3>
	<table class="table table-striped">
		<tr><th>User</th><th>Joined</th><th>Role</th><th>Edit</th><th>Actions</th></tr>
		<% for user in @group_members %>
			<tr>
				<td>
					<%= gravatar_for(user, size=32) + ' - ' + link_to(user.name, user) %>
					(<%= user.email %>)
				</td>
				<td><%= time_ago_in_words(GroupMember.find_by_user_id_and_group_id(user, @group).created_at) %> ago</td>
				<td>
					<%= GroupMember.find_by_user_id_and_group_id(user, @group).role %>
				</td>
				<td>
					<%= render partial: 'edit_role_menu', locals: {user: user} %>
				</td>
				<td>
					<%= button_to "Kick", group_member_path(@group), method: :delete,
						class: "btn btn-mini btn-danger" %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>