<table>
	<thead>
		<th>Group</th>
		<th>Creator</th>
		<th>Created</th>
		<th>#Members</th>
		<th></th>
	</thead>
	<% for group in @groups %>
		<tr>
			<td><%= link_to group.name, group_path(group) %></td>
			<td><%= User.find(group.user_id).email %></td>
			<td><%= time_ago_in_words(group.created_at) %></td>
			<td><%= group.users.count %></td>
			<td>
				<%= render partial: 'groups/edit_group_menu', locals: {group: group} %>
			</td>
		</tr>
	<% end %>
</table>