<%= render 'new_group_button' %>
<table>
	<thead>
		<th>Group</th>
		<th>Creator</th>
		<th>Created</th>
		<th>#Members</th>
		<th>#Posts</th>
		<th>Actions</th>
	</thead>
	<% for group in @groups %>
		<tr>
			<td><%= link_to group.name, group_path(group) %></td>
			<td><%= link_to User.find(group.user_id).name, User.find(group.user_id) %></td>
			<td><%= time_ago_in_words(group.created_at) %></td>
			<td><%= group.users.count %></td>
			<td><%= group.posts.count %></td>
			<td>
				<% if is_member?(group, current_user) %>
					<%= link_to "Leave", group_member_path(group), 
						confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %>
				<% elsif has_application?(group, current_user) %>
					<%= link_to "Delete Application", 
						group_application_path(group, user_id: current_user.id), 
						confirm: 'Are you sure?', method: :delete,
						class: "btn btn-mini btn-danger" %>
				<% else %>
					<%= link_to "Apply to Group", 
						group_applications_path(group: group), method: :post,
						class: "btn btn-mini btn-primary" %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>