<%= link_to_unless(@group.is_closed?, raw("<i class='icon-edit'></i>"), edit_group_path,
	class: "pull-left"){} %>
<%= link_to_unless(@group.is_closed?, raw("<i class='icon-remove'></i>"), edit_group_path, 
	class: "pull-left"){} %>
<%= link_to_unless(@group.is_closed?, "Post to group", new_group_post_path(@group), 
	class: "btn btn-large btn-primary pull-right"){} %>

<h1><%= @group.name %></h1>
<h3>Created by: <%= User.find(@group.user_id).email %></h3>
<p><%= @group.description %></p>

<% if is_group_admin?(@group) %>
	<div class="group" data-id="<%= @group.id %>">
 		<%= text_field_tag :add_post_tag, params[:tags], placeholder: "Add group tag",
			:data => { :provide => 'typeahead', :source => @typeahead_tags},
			class: "span2 tag_form", id: "create_group_tag" %>
	</div>
	<div class="row">
		<div class="span12">
			STATS : 
			<%= link_to 'Reads', stats_groups_path(type: 'activity') %> | 
			<%= link_to 'Meta', stats_groups_path(type: 'meta') %> |
			<%= link_to 'Total reads', stats_groups_path(type: 'pie') %>
		</div>
	</div>
	<%= render partial: 'shared/tags', 
		locals: {title: "Group tags", tags: @group_tags, delete_link: true, group_link_delete: true, print_group_tags: true} %>
	<%= render 'applicants' %>
	<%= render 'group_members' %>
<% end %>