<%= link_to_unless(@group.is_closed?, raw("<i class='icon-edit'></i>"), edit_group_path,
	class: "pull-left"){} %>
<%= link_to_unless(@group.is_closed?, raw("<i class='icon-remove'></i>"), edit_group_path, 
	class: "pull-left"){} %>
<%= link_to_unless(@group.is_closed?, "Post to group", new_group_post_path(@group), 
	class: "btn btn-large btn-primary pull-right"){} %>

<h1><%= @group.name %></h1>
<h3>Created by: <%= User.find(@group.user_id).email %></h3>
<p><%= @group.description %></p>

<script type="text/javascript" charset="utf-8">

function column_chart(data, stacking, render, title, xtitle, ytitle)
{
	new Highcharts.Chart({
	    chart: { 
	    	renderTo: render,
	    	zoomType: 'x',
	    	type: 'column',
	    	animation: false
	    },
	    title: { text: title },
	    xAxis: { 
	    	type: 'datetime',
	    	text: xtitle
	    },
	    yAxis: {
	    	min: 0,
	      	title: { text: ytitle},
	      	stackLabels: {
	                enabled: true,
	                style: {
	                    fontWeight: 'bold',
	                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
	                }
	            }
	    },
	    plotOptions: {
	            column: {
	                stacking: stacking,
	                dataLabels: {
	                    enabled: false,
	                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
	                }
	            }
	    },
	    series: data
	});
}

function pie_chart(data, render, title)
{
	new Highcharts.Chart({
	    chart: {
	        renderTo: render,
	        plotBackgroundColor: null,
	        plotBorderWidth: null,
	        plotShadow: false
	    },
	    title: {
	        text: title
	    },
	    tooltip: {
	        pointFormat: '{series.name}: <b>{Math.round(point.percentage)}%</b>',
	        percentageDecimals: 1
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            dataLabels: {
	                enabled: true,
	                color: '#000000',
	                connectorColor: '#000000',
	                formatter: function() {
	                    return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
	                }
	            }
	        }
	    },
	    series: [{
	    	type: 'pie',
	    	name: 'User share',
	    	data: data //format [{name: slice_name, y: %_number, sliced: t/f, selected: t/f}, {}, ...]
	    				//or format [['name', %number],[...], {...}, ...]
	    }]
	});
}

$(function () {
	$( "#percent_chart" ).hide();
	<% 	
		case @chart_type
		when "meta"
			series_data = series_chart_from_a(@data, @default_date_from, @default_date_to)
		else
			series_data = series_chart(@data, @default_date_from, @default_date_to)
		end
	%>	

	<% if @chart_type == "pie" %>
		<% max_activity = series_data.map{|k,v| v.sum}.max %>
		pie_data = [<% @users.each do |user| %>
			["<%= user.name %>", <%= series_data.has_key?(user.id)? (series_data[user.id].sum*1.0/max_activity).round(2) : 0 %>],
		<% end %>]
	<% else %>
		activity_data = [<% @users.each do |user| %>
		    {
		      	name: "<%= user.name %>",
		      	pointInterval: <%= 1.day * 1000 %>,
		      	pointStart: <%= @default_date_from.to_f * 1000 %>,
		      	data: <%= series_data.has_key?(user.id)? series_data[user.id]:[0] %>
		    },
		<% end %>]
	<% end %>

	<% if @chart_type == 'activity' %>
	  	chart = column_chart(activity_data, 'normal', 'chart', 'Reads per day', 'Date', 'Reads');
	  	percent_chart = column_chart(activity_data, 'percent', 'percent_chart', 'Reads per day', 'Date', 'Reads');
	<% elsif @chart_type == 'meta' %>
		chart = column_chart(activity_data, 'normal', 'chart', 'Meta per day', 'Date', 'Meta actions');
  		percent_chart = column_chart(activity_data, 'percent', 'percent_chart', 'Meta per day', 'Date', 'Meta actions');
  	<% elsif @chart_type == 'pie' %>
		chart = pie_chart(pie_data, 'chart', 'User total read activity');
		//hide the buttons
		$("#btn_percent_toggle").hide();
		$("#btn_show_all").hide();
	<% end %>
});

function toggleAll(c) {
    for (var i = 0; i < c.series.length; i++) {
       var serie = c.series[i];
        serie.setVisible(!serie.visible, false);
    }
    c.redraw();
}

function meta_toggle()
{
	if ($("#percent_chart").is(":visible"))
	{
		$("#percent_chart").hide();
		$("#chart").show();
		$("#btn_percent_toggle").html("Meta");
	}
	else
	{
		$("#chart").hide();
		$("#percent_chart").show();
		$("#btn_percent_toggle").html("Normal");
	}
}

</script>

<% if is_group_admin?(@group) %>
	<div class="row">
		<div class="span12">
			STATS : 
			<%= link_to 'Reads', stats_groups_path(type: 'activity') %> | 
			<%= link_to 'Meta', stats_groups_path(type: 'meta') %> |
			<%= link_to 'Total reads', stats_groups_path(type: 'pie') %>
		</div>
	</div>
    <div class="row">
		<div id="chart" style="width: 800px; height: 500px;"></div>
		<div id="percent_chart" style="width: 800px; height: 500px;"></div>
		<button type="button" onclick="toggleAll(chart)" class="btn-small" id="btn_show_all">Show/Hide</button>
		<button type="button" onclick="percent_toggle()" class="btn-small" id="btn_percent_toggle">Percent</button>
	</div>
<% end %>