<h4>Stats</h4>
<ul class="stats">
	<li>#Posts: <%= @stats[:posts] %></li>
	<li>#Comments: <%= @stats[:comments] %></li>
	<li>#Likes: <%= @stats[:likes] %></li>
	<li>#Tags: <%= @stats[:tags] %></li>
	<li>#Bookmarks: <%= @stats[:bookmarks] %></li>
</ul>