<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <div>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Reset password", new_password_reset_path %>
    </div>
    <hr />
    <div>
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>