<div class="row">
 	<div class="span3">
 		<%= render 'shared/user_info' %>
 		<section>
 			<h4>About</h4>
 			<%= safe_html_output @user.profile.description unless @user.profile.nil? %>
 		</section>
	</div>
	<div class="span6">
		<aside>
			<%= render 'shared/blurt_form' if signed_in?%>		
			<%= render 'follow_form' if signed_in? %>
		</aside>
		<% if @user.blurts.any? %>
			<% if is_admin? %>
				<img src="<%=@chart_url%>">
			<% end %>
			<h3>Posts (<%= @user.blurts.count + @user.posts.count %>)</h3>
			<ol class="posts">
				<%= render 'shared/feed', :feed_items => @user_feed %>
			</ol>
			<%= will_paginate @user_feed %>
		<% end %>
	</div>
	<div class="span3">
		<%= render partial: 'shared/tags', locals: {title: "My tags", tags: @user_tags} %>
		<hr />
		<%= render partial: 'shared/tags', locals: {title: "All tags", tags: @all_tags} %>
	</div>
</div>