<div class="row">
 	<div class="span4">
 		<%= render 'shared/user_info' %>
	</div>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.blurts.any? %>
			<h3>Blurts (<%= @user.blurts.count %>)</h3>
			<ol class="blurts">
				<%= render @blurts %>
			</ol>
			<%= will_paginate @blurts %>
		<% end %>
	</div>
</div>