<div class="row">
 	<div class="span3">
 		<%= render 'shared/user_info' %>
 		<section>
 			<h4>About</h4>
 			<%= safe_html_output @user.profile.description unless @user.profile.nil? %>
 		</section>
 		<% if current_user.id == @user.id or is_teacher? or is_admin? %>
	 		<section>
	 			<%= render 'stats' %>
	 		</section>
 		<% end %>
	</div>
	<div class="span6">
		<aside>
			<%= render 'shared/blurt_form' if signed_in?%>		
			<%= render 'follow_form' if signed_in? %>
		</aside>
		<% if @user_feed.any? %>
			<% if is_admin? or is_teacher? %>
				<img src="<%=@participation_chart_url%>">
			<% end %>
			<h3>Posts (<%= @user.blurts.count + @user.posts.count %>)</h3>
			<ol class="posts">
				<%= render 'shared/feed', :feed_items => @user_feed %>
			</ol>
			<%= will_paginate @user_feed %>
		<% end %>
	</div>
	<div class="span3">
		<%= render partial: 'shared/tags', 
			locals: {title: @user.name.to_s + " tags", tags: @user_tags, print_group_tags: true} %>
		<hr />
		<%= render partial: 'shared/group_tags' %>
	</div>
</div>