<div class="row">
 	<div class="span4">
 		<%= render 'shared/user_info' %>
	</div>
	<div class="span8">
		<aside>
			<%= render 'shared/blurt_form' if signed_in?%>		
			<%= render 'follow_form' if signed_in? %>
		</aside>
		<% if @user.blurts.any? %>
			<h3>Posts (<%= @user.blurts.count + @user.posts.count %>)</h3>
			<ol class="posts">
				<%= render 'shared/feed' %>
			</ol>
			<%= will_paginate @feed_items %>
		<% end %>
	</div>
</div>