<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%=group_tag.id%>" href="#collapse<%=group_tag.id%>">
			<i class="icon-chevron-right"></i> <%=group_tag.name%>
		</a>
	</div>
	<div id="collapse<%=group_tag.id%>" class="accordion-body collapse">
		<%
			other_tags = Post.tagged_with(group_tag.name).tag_counts.where('name != ?',group_tag.name).order('count DESC').limit(7)
		%>
		<% for tag in other_tags %>
			<div class="accordion-inner">
				<%= link_to tag.name, tag_path(tag.name) %> (<%= tag.count %>)
			</div>
		<% end %>
	</div>
</div>