<section>
	<a href="<%= user_path(@user) %>">
	  <%= gravatar_for @user %>
	</a>
</section>
<section>
  	<%= @user.email %>
</section>
<section>
	<%= pluralize(@user.blurts.count, "blurt") %>
	<%= pluralize(@user.posts.count, "post") %>
</section>
<section id="section_following">
	<%= render 'shared/following' %>
</section>
<section id="section_followers">
	<%= render 'shared/followers' %>
</section>
