<section>
  	<%= link_to(@user.name, @user) %> 
  	<%= link_to(raw("<i class='icon-edit'></i>"), edit_user_profile_path(@user)) if @user.id == current_user.id %>
  	<% if @user.id == current_user.id and @user.profile.nil? %>
  		<section>
  			<%= link_to("UPDATE PROFILE", new_user_profile_path, class:"btn btn-danger") %>
  		</section>
  	<% end %>
</section>
<section>
	<a href="<%= user_path(@user) %>">
	  <%= gravatar_for @user %>
	</a>
</section>
<section>
	<%= pluralize(@user.blurts.count, "blurt") %>
	<%= pluralize(@user.posts.count, "post") %>
</section>
<section id="section_following">
	<%= render 'shared/following' %>
</section>
<section id="section_followers">
	<%= render 'shared/followers' %>
</section>
