 <script type="text/javascript">
 	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<h3>Posting to <%= @group.name %></h3>

<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>

  <%= f.text_area :content, :cols => "30", :rows => "10" %>

  <%= f.hidden_field :group_id, :value => @group.id %>  

  <%= f.submit "Publish", class: "btn btn-large btn-primary" %>

<% end %>