
<div class="post" data-id="<%= @post.id %>">
	<span class="title"><h3><%= post.title %></h3></span>
	<span class="content"><%= safe_html_output post.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</span>
	<span class="post_edit_actions">
		<% if current_user?(@post.user) %>
			<%= link_to raw("<i class='icon-trash'></i>"), post, method:  :delete,
			                                 confirm: "You sure?",
			                                 title: "Delete",
			                                 alt: "Delete" %>
			<%= link_to raw("<i class='icon-edit'></i>"), edit_post_path,
				alt: "Edit", title: "Edit" %>                               
		<% end %>
	</span>
	</span class="post_feedback_actions">
		<%= render 'like_form' if signed_in? %>
		<%= render 'feature_form' if signed_in? and is_teacher? %>
	</span>
</div>