<div class="row">
 	<div class="span3">
 		<%= render 'shared/user_info' %>
	</div>
	<div class="span6">
		<% if is_admin? %>
			<img src="<%=@chart_url%>">
		<% end %>
		<%= render @post %>
		<h3>Comments</h3>
		<ol class="blurts">
			<%= render partial: 'comments/comment', collection: @comments %>
		</ol>
		<aside>
			<%= render 'shared/comment_form' %>
		</aside>
	</div>
	<div class="span3">
		<div>
	 		<%= text_field_tag :add_tag, params[:tags], {placeholder: "Add tag",
				:data => { :provide => 'typeahead', :source => @typeahead_tags},
				class: "search", id: "create_post_tag"} %>
		</div>
		<div id="tag_response"></div>

		<%= render partial: 'shared/tags', 
			locals: {title: "Post tags", tags: @post_tags, print_group_tags: true, delete_link: true} %>
		<%= #render partial: 'shared/tags', 
			#locals: {title: "My tags", tags: @user_tags, delete_link: true, print_group_tags: true} 
			%>
		<hr />
		<%= render partial: 'shared/group_tags' %>
		
	</div>
</div>