<div class="row">
 	<div class="span2">
 		<%= render 'shared/user_info' %>
	</div>
	<div class="span7">
		<% if is_admin? %>
			<img src="<%=@chart_url%>">
		<% end %>
		<%= render @post %>
		<h3>Comments</h3>
		<ol class="blurts">
			<%= render partial: 'comments/comment', collection: @comments %>
		</ol>
		<aside>
			<%= render 'shared/comment_form' %>
		</aside>
	</div>

	<div>
 		<%= text_field_tag :tags, params[:tags], placeholder: "Add tag",
			:data => { :provide => 'typeahead', :source => @typeahead_tags},
			class: "span2 tag_form", id: "create_tag" %>
	</div>
	<div id="tag_response"></div>

	<%= render partial: 'shared/tags', locals: {title: "My tags", tags: @user_tags, delete_link: 'true'} %>
	<hr />
	<%= render partial: 'shared/tags', locals: {title: "Post tags", tags: @post_tags} %>
	<hr />
	<%= render partial: 'shared/tags', locals: {title: "All tags", tags: @all_tags} %>

</div>