<nav>
  <ul class="nav pull-right">
    <li>
      <%= link_to raw("<i class='icon-home icon-white'></i>"), root_path,
          alt: "Home", title: "Home" %>
     </li>
    <% if signed_in? %>
      <li>
        <%= link_to raw("<i class='icon-list icon-white'></i>"), users_path,
            alt: "User list", title: "User list" %>
     </li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="User settings" alt="User settings">
          <i class='icon-user icon-white'></i> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "My Groups", groups_path %></li>
          <li><%= link_to "Join Groups", all_groups_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </li>
      <% if is_admin? %>
      <li>
        <%= link_to raw("<i class='icon-cog icon-white'></i>"), admin_index_path,
            alt: "Admin console", title: "Admin console" %>
      </li>
      <% end %>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</nav>
